body, html {
   
 /* old browsers */
    background: #eceff1 !important; /* firefox */

    } /* corresponds to height of #footer */
.nopadding-right {
  
    
    padding-right: 0 !important;
}
.nopadding-left{
    padding-left: 0 !important;
}


/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding-top: 10px;
}

.profile-header-img > img.img-circle {
    width: 62px;
    height: 62px;
    border: 2px solid #FF4136;
}

.profile-header {
    margin-top: 20px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -18px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #dd4b39;
    padding: 2px 4px 2px 4px;
    border-radius: 27px;
}
.profile-header-name{

    padding-top: 15px;
}

.postagem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 20px;
  padding: 19px;
  margin-bottom: 15px;
  background-color: #FFFFFF ;
  border: 1px solid #AAAAAA ;
  